.decoration {
  width: 60%;
  background-size: cover;
  opacity: 0.9;
  position: sticky;
  top: 0;
  height: 100vh;
  box-sizing: border-box;
}

.decoration_text_container {
  padding: 7rem 3rem 0;
  width: 100%;
  height: 100%;
}

.decoration_text {
  font-family: Hack Nerd Font;
  font-size: 2rem;
  white-space: pre-wrap;
  color: white;
  display: block;
  border: solid 0.1rem white;
  padding: 5rem 3rem;
  width: 100%;
  height: 95%;
}

@media (max-width: 600px) {
  .decoration {
    display: none;
  }
}
