.decoration {
  width: 60%;
  background-color: var(--main-color);
  position: sticky;
  top: 0;
  height: 100vh;
}

.triangle_top {
  --b:1rem; /* control the border thickness */

  width: 100%;
  aspect-ratio: 1;
  clip-path: polygon(0 0,100% 0,0 100%,0 0,var(--b) var(--b),var(--b) calc(100% - var(--b)/tan(22.5deg)),calc(100% - var(--b)/tan(22.5deg)) var(--b),var(--b) var(--b));
  background: white;
  position: absolute;
  top: 0;
  left: 0;
}

.triangle_under {
  --b: 1rem; /* control the border thickness */

  width: 100%;
  aspect-ratio: 1;
  clip-path: polygon(100% 100%,100% 0,0 100%,100% 100%,calc(100% - var(--b)) calc(100% - var(--b)),calc(var(--b)/tan(22.5deg)) calc(100% - var(--b)),calc(100% - var(--b)) calc(var(--b)/tan(22.5deg)),calc(100% - var(--b)) calc(100% - var(--b)));
  background: white;
  position: absolute;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 600px) {
  .decoration {
    display: none;
  }
}
