.profile_container {
  display: flex;
  margin: 0 auto;
}

.description {
  width: 60%;
}

.description_text {
  font-size: 1.5rem;
  margin-top: 5rem;
}

.image_container {
  margin:15rem 0 0 3rem;
}

.profile_image {
  border-radius: 50%;
}

@media (max-width: 600px) {
  .profile_container {
    width: 100%;
    justify-content: center;
    flex-flow: column;
  }

  .description {
    width: 100%;
    order: 1;
    margin-top: 5rem;
  }

  .description_text {
    margin-top: 2rem;
  }

  .profile_image {
    width: 30rem;
    height: 30rem;
    order: 0;
  }

  .image_container {
    margin: 0;
    text-align: center;
  }
}
