.profile_container {
  display: flex;
}

.description {
  width: 60%;
}

.description_text {
  margin-top: 2rem;
}

.image_container {
  margin:15rem 0 0 3rem;
}

.profile_image {
  border-radius: 50%;
}


@media (max-width: 600px) {
  .profile_container {
    width: 100%;
    justify-content: center;
  }

  .description {
    width: 70%;
  }

  .profile_image {
    width: 10rem;
    height: 10rem;
  }
}
