.title_container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.title {
  display: inline-block;
  font-family: var(--main-font);
  font-size: 20rem;
  margin: 0;
}

.text_container {
  width: 100%;
  display: flex;
  justify-content: start;
  overflow-wrap: anywhere;
  font-size: 3rem;
  font-family: var(--main-font);
}

@media (max-width: 600px) {
  .title_container {
    justify-content: center;
  }

  .title {
    font-size: 9rem;
  }

  .text_container {
    margin-top: 15rem;
    width: 80%;
    font-size: 2.5rem;
  }
}
