.works_container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 65%;
}

.work_list {
  width: calc(100% / 2 - 5rem);
  list-style: none;
  font-size: 2rem;
}

.works_list_item {
  border-bottom: solid 0.2rem var(--main-color);
  padding: 1rem;
}

@media (max-width: 600px) {
  .work_list {
    width: 100%;
  }
}
