@import url("https://fonts.cdnfonts.com/css/post-no-bills-colombo");
@font-face {
  font-family: 'Hack Nerd Font';
  src: url('/fonts/Hack/HackNerdFont-Italic.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: white;
  --main-font: "Post No Bills Colombo ExtraBold", sans-serif;
}

html {
  font-size: 62.5%; /* remで指定しやすいよう10pxに指定 */
}

body {
  font-family: 'Hack Nerd Font';
  background-image: url('/background_img_body.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: var(--main-color);
  font-size: 1.4rem;
}

.body_container {
  background-color: rgb(0, 0, 0, 0.6);
  padding: 3rem 5rem;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

.section_container {
  height: 100vh;
}

.section_container_top {
  padding-top: 25rem;
}

.section_container_with_decoration {
  padding-top: 10rem;
}

.section_title {
  font-size: 7rem;
  font-family: var(--main-font);
}

.section_title_end {
  text-align: end;
  margin-bottom: 5rem;
}

.container_to_split_screen {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 10rem;
}

.container_with_decoration {
  padding: 0 3rem;
  width: 75%;
}

@media (max-width: 600px) {
  .body_container {
    padding: 3rem 3.5rem;
  }

  .section_container {
    height: 100vh;
    padding-bottom: 15rem;
    box-sizing: border-box;
  }

  .section_title {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  .section_container_height_auto{
    height: auto;
  }

  .section_container_with_decoration {
    padding-top: 0;
  }

  .container_to_split_screen {
    padding-top: 0;
  }

  .container_with_decoration {
    padding: 0;
    width: 100%;
  }
}
